ion-content{
    --background:#f37121!important;
    height: 100vh;
}
.rojo{
    color:red;
}
.tituloPantalla{
    font-size:4.5em;
    text-transform: uppercase;

    background: #f37121;
    color:#fff;
    font-weight: 600;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px!important;
}
.bloqueConsultorio{
    --background: #f37121!important;
    text-align: center;
    h3{
        background: #dd2c00;
        margin-top:-1px;
        padding-top: 5px ;
        padding-bottom:15px;
        color:#fff;
        text-transform: capitalize;
        font-size:1.8em;
        font-weight: 600;
        border-top-right-radius: 30px;
    }
}
#contenedorPersonas{
    background: #f37121;
    /* margin-top:20px; */
/*     margin-bottom:10px; */
}
.contenedorPersonas{
    width: 95%;
    margin-left: 2.5%;
    border: 4px solid #dd2c00;
    border-top-right-radius: 32px;
    height: 405px!important;
}
ion-list{
    --background: #013546!important;
    margin-top: -40px;
}
ion-item{
    --background: transparent!important;
    text-align: center;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* esta linea pone los bordes de colores azul claro */
    --border-color: transparent!important;
/* --border-color: #079eb3!important; */
}
ion-item:last-child{
    
    --border-color:transparent!important;
}

.list-md{
    background: none!important;
    margin-top:0!important;
}
.item-md{
    background: transparent!important;
    height:auto!important;
}
.nombrePersona{
    color:#fff;
    font-size:1.3em;
    font-weight:300;
}
.atencionA{
    color:#01b378;
    font-size:32px;
    font-weight:600;
/*     margin-top:15px!important; */
}
.atencionAE{
    color:#fff;
    background:#01b378;
    border-top-right-radius: 10px;
    font-size:1.2em;
    font-weight:600;
}
.esperA{
    color:#f9c237;
    font-size:32px;
    font-weight:600; 
}
.esperAE{
    color:#fff;
    background:#f9c237;
    font-size:1.2em;
    font-weight:600;
    border-top-right-radius: 10px;
}
.citadoA{
    color:#fff;
    font-size:32px;
    font-weight:600;
   /*  margin-top:-5px!important; */

    text-transform:uppercase!important;
}
.citadoAE{
    color:#fff;
    background:#b8b7b5;
    font-weight:600;
    font-size:1.1em;
    border-top-right-radius: 10px;
}
.finalizadoA{
    color:#000;
    /* background:#f7290e; */
    font-size:32px;
    font-weight:600;
}
.finalizadoAE{
    color:#fff;
    background:#000;
    border-top-right-radius: 10px;
    /* padding: 2px 2px; */
/*     border-radius:50%; */
    font-weight:600;
    font-size:1.1em;
}
.preconsultAE{
    color:#fff;
    background:#f9c237;
   /*  padding: 2px 5px; */
    border-radius:50%;
    font-weight:600;
    font-size:45px;
/*     margin-top:12px!important;
    margin-bottom:12px!important; */
}
img{
    width:180px;
    height: auto;
    text-align: center;
    margin-top:40px;
    margin-left:50px;
    
}
.centrar{
    background:#f37121;
}
ul li{
    list-style-type: none;
}
.consultorio{
    color:#07b37a;
    font-size:1.3em;
    font-weight: 500;
    margin-top:-20px;
    text-transform: uppercase;
    span{
        margin-top:-20px;
        background: #07b37a;
        color:#fff;
        padding: 8px 15px;
        font-weight:600;
        margin-right: 10px;
        border-top-right-radius: 10px;
    }
}
.preconsulta{
    color:#f9c237;
    font-size:1.3em;
    font-weight:500;
    text-transform: uppercase;
    margin-top:-20px;
    span{
        background: #f9c237;
        margin-top:-20px;
        color:#fff;
        padding: 8px 15px;
        font-weight:600;
        margin-right: 10px;
        border-top-right-radius: 10px;
    }
}
.espera{
    color:#e4e4e4;
    font-size:1.3em;
    font-weight:500;
    text-transform: uppercase;
    text-align:left;
    margin-top:-20px;
    span{
        background: #b8b7b5;
            margin-top:-20px;
        color:#e4e4e4;
        padding: 8px 15px;
        border-top-right-radius: 10px;
        font-weight:400;
        margin-right: 10px;
    }

}
.finalizado{
    text-align:left;
    color:#000;
    font-size:1.3em;
    font-weight:500;
    margin-top:-20px;
    text-transform: uppercase;
    span{
        margin-top:-20px;
        background: #000;
        color:#e4e4e4;
        padding: 8px 15px;
        border-top-right-radius: 10px;
        font-weight:400;
        margin-right: 10px;
    }
}
.center{
    text-align: right;
}
.bloqueConsultorioHora{
    width:100%;
    --background:#06456c;
}
/* .bloqueConsultorioHora h3{
    --background:#07b37a!important;
    text-align: center;
    color:#fff;
    font-size:2.2em;
    margin-top:-5px;
    padding-top: 5px;
    padding-bottom:5px;
    font-weight: 400;
    margin-left:25px;
    text-transform: capitalize;
} */
/* .containerHour{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .hora{
    text-align: center!important;
    margin-left:25px;
    font-size:35px;
    font-weight:400;
    color:#eeb005;
    margin-top:5px!important;
    margin-bottom:20px!important;
    padding-top:auto;
    
} */
/* h3 .hora{
    background: transparent!important;
} */
.vacio{
    color: rgba(255,255,255,0.6);
    font-size:2.2em;
    font-weight: 500;
  /*   margin-top:15px; */
    /* padding-top:0!important; */
    /* padding-bottom:10px!important; */
    
    /*   margin-bottom:30px!important;  */
}
/* #contenedorPersonasSolo, #contenedorPersonas{
    width:300px!important;
} */
/* #contenedorPersonasSolo{
    margin-top:-7px;
} */
/* .top{
    margin-top:50px;
} */
/* .topOne{
    margin-top:20px;
} */
.especialidad{
    color:#fff;
    font-size:2em;
    font-weight: 400;
}
.white{
    -background:#fff;
    margin-top:-40px;
    margin-bottom:10px!important;
}
.horaActual{
    color:#fff;
    font-weight: 600;
    font-size:5em;
    text-align: right;
    margin-right:50px;
    margin-top:10px;
}

.horasFondo{
    color:#fff;
    font-size:1.3em;
    font-weight:500;
    background: #2D758F;
    padding:0 3px;
    border-top-right-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedorCosultorios{
    height: 920px;
    min-height:80px!important;
    max-height: 820px!important;
  /*   margin-top:50px!important; */
 /*    border:1px solid red!important; */
}

#contenedorTitulo{
    height: 100px;
    margin-bottom:10px;
    img{
        margin-top:10px;
    }
 /*    border:1px solid blue; */
}
.nombrePaciente{
    display: flex;
    justify-content: start;
    align-items: center;
}
#containerFilas{
    display: flex;
    align-items: center;
    margin-top:-20px;
}
#contenedorGlosa{
    height: 60px!important;
    max-height: 60px;
    margin-top:50px;
/*     border: 2px solid yellow; */
}
/* #contenedorHora p{
    margin-top: -30px;
} */
.containerNombre{
    display: flex;
    justify-content: center;
}
.containerDatos{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
ion-row{
    margin:0!important;
    padding:0!important;
}
.list-md{
    margin-top:-32px!important;
}